body{
justify-content: center;
align-items:center; 
width: 100%;
height: 100%;
display: flex;
background-color: black;
color: whitesmoke;
}

canvas{
    position: absolute;
}

@media (max-width: 600px) {
    body{
        flex-direction: column;
    }
    canvas{
        width: 100%;
        height: 100%;
    }
}